
<div class="admin-content">
<h1>WELCOME</h1>
<div class="accounts">

        <div class="container1">
    <h1>Admin accounts</h1>
    @if (User.IsInRole("admin"))
    {
        <p>@User.Identity.Name</p>
    }
    </div>

        <div class="container2">
        <h1>User accounts</h1>
            @foreach(var item in Model)
            {
              <div>
                <p>
                    @item.FirstName
                    @item.LastName
                </p>
   
                <p>
                    @item.UserName
                </p>
              </div>
            }
        </div>
    </div>
</div>